.category-management--container .save-category-modal {
  width: 446px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 32px;
  -webkit-box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.category-management--container .save-category-modal .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.category-management--container .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category-management--container .columns.space2 {
  gap: 1rem;
}

.category-management--container .space2 {
  gap: 1rem;
}

.category-management--container .flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category-management--container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category-management--container .flex div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px solid #ccc;
}

.category-management--container .is-7 {
  -ms-flex-preferred-size: 100% !important;
      flex-basis: 100% !important;
}

.category-management--container .column {
  display: block;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: .75rem;
}

.category-management--container .column button {
  border: none;
  border-radius: 5px !important;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  font-size: 14px;
  font-weight: 600;
}

.category-management--container .column input {
  margin: 0;
}

.category-management--container .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  padding: .2rem 1rem;
  cursor: pointer;
  color: #272727;
  background-color: #DADADA;
}

.category-management--container .category .icon-delete {
  display: none;
}

.category-management--container .category:hover {
  background-color: #8761F4;
  padding: .2rem 1rem;
  color: #fff;
}

.category-management--container .category:hover .icon-delete {
  display: block;
}

.category-management--container .edit-modal {
  width: 446px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 32px;
  -webkit-box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.category-management--container .edit-modal .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}
/*# sourceMappingURL=category-management.css.map */