
.category-management{
    &--container{
        .save-category-modal{
            width: 446px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 32px;
            box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
        
            .header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1.5rem;
            }
        }

        .columns{
            display: flex;
        }
        .columns.space2{
            gap: 1rem;
        }
        .space2{
            gap: 1rem;
        }
        .flex-wrap{
            flex-wrap: wrap;
        }
        .flex{
            display: flex;

            div{
                flex-grow: 1;
                border-bottom: 1px solid #ccc;
            }
        }
        .is-7{
           flex-basis: 100% !important;
        }
        .column{
            display: block;
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 1;
            padding: .75rem;
            button{
                border: none;
                border-radius: 5px !important;
                font-family: 'Raleway', sans-serif;
                height: 100%;
                font-size: 14px;
                font-weight: 600;
            }
            input{
                margin: 0;
            }
        }

        .category{
           
            display: flex;
            gap: .2rem;
            align-items: center;
            border-radius: 100px;
            padding: .2rem 1rem;
            cursor: pointer;
            color: #272727;
            background-color: #DADADA;

            .icon-delete{
                display: none;
            }

            &:hover{
                background-color: #8761F4;
                padding: .2rem 1rem;
                color: #fff;
                .icon-delete{
                    display: block;
                }
            }
        }


          //MODAL
    .edit-modal{
        width: 446px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 32px;
        box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.2);
        border-radius: 8px;

        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1.5rem;
        }
    }
        
    }
}