{% extends 'file_management/base.html' %}

{% block content %}
<h1 class="h1">Viewing a File</h1>
<section class="viewing-file">
    <div class="viewing-file-container">

        <div class="flex-head mb-2">
            <div>
                <h4>{{file.getNewFileName}}</h4>
                <small>{{ file.getSize }}</small>
            </div>
        <div class="btn-dark">
            <a href="{% url 'file-management:download' file.id %}"><span class="iconify" data-icon="ic:baseline-download"></span>Download File</a>
        </div>
        </div>
 
        <div class="flex-head mb-1">
            <div>
                <div class="flex spacing mb-1">
                    <h4>Category: </h4>
                    <div>
                        <p>{{file.category_id.title}}</p>
                    </div>
                </div>
                <div class="flex spacing mb-1">
                    <h4>Uploader:</h4>
                    <div class="content">
                        <p>{{file.user_id.full_name}}</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex spacing mb-1">
                    <h4>Uploaded: </h4>
                    <div>
                        <p>{{file.created_at}}</p>
                    </div>
                </div>
                <div class="flex spacing mb-1">
                    <h4>Modified:</h4>
                    <div>
                        <p>{{file.updated_at}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-description spacing mb-2">
            <h4>Description:</h4>
            <div>
                <p>{{file.description}}</p>
            </div>
        </div>

        <div class="preview">
            {% if file.getFileType == 1 %}
            <iframe src='{{file.url.url}}' width='100%' height='500px' frameborder='0'
                style="background:white"></iframe>
            {% elif file.getFileType == 2  %}
            <video controls src="{{file.url.url}}" style="width:100%; height:500px">
                <p onclick='downloadFile()'>Your browser does not support HTML5 Element. You may download this file instead.</p>
            </video>
            {% else %}
            <iframe src='https://view.officeapps.live.com/op/embed.aspx?src={{file.url.url}}'
                width='800px' height='600px' frameborder='0'>This is an embedded <a target='_blank'
                    href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank'
                    href='http://office.com/webapps'>Office Online</a>.</iframe>
            {% endif %}
        </div>

        <div class="btn-dark" style="margin-top: 30px">
            <a href="{% url 'file-management:printIndividualFile' file.id %}"><span class="iconify"
                    data-icon="akar-icons:paper"></span>Print details to PDF</a>
        </div>
    </div>
   <script>
      function viewPdf() {
         var link = "{% url 'file-management:pdf_view' 0 %}".replace("0", {{file.id}})
         window.open(link);
      }
      function downloadFile() {
         var link = "{% url 'file-management:download' 0 %}".replace("0", {{file.id}})
         window.open(link);
      }
   </script>
</section>
{% endblock %}