{% extends 'file_management/base.html' %}

{% block content %}
<h1 class="h1">Viewing a File</h1>
<section class="viewing-file">
    <div class="viewing-file-container">

        <div class="flex-head mb-2">
            <div>
                <h4>{{file.getNewFileName}}</h4>
                <small>{{ file.getSize }}</small>
            </div>
        <div class="btn-dark">
            <a href="{% url 'file-management:download' file.id %}"><span class="iconify" data-icon="ic:baseline-download"></span>Download File</a>
        </div>
        </div>

        <div class="flex-head mb-1">
            <div>
                <div class="flex spacing mb-1">
                    <h4>Category: </h4>
                    <div>
                        <p>{{file.category_id.title}}</p>
                    </div>
                </div>
                <div class="flex spacing mb-1">
                    <h4>Uploader:</h4>
                    <div class="content">
                        <p>{{file.user_id.full_name}}</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex spacing mb-1">
                    <h4>Uploaded: </h4>
                    <div>
                        <p>{{file.created_at}}</p>
                    </div>
                </div>
                <div class="flex spacing mb-1">
                    <h4>Modified:</h4>
                    <div>
                        <p>{{file.updated_at}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-description spacing mb-2">
            <h4>Description:</h4>
            <div>
                <p>{{file.description}}</p>
            </div>
        </div>

        <div class="preview">
            {% if file.getFileExtension in 'jpg, jpeg, png, webp' %}
            <img src="{{file.url.url}}">
            {% elif file.getFileExtension in 'mp4, mpeg, mkv' %}
            <video controls="controls" src="{{file.url.url}}">
               Your browser does not support the HTML5 Video element.
            </video>
            {% elif file.getFileExtension == 'pdf'%}
            <p onclick='viewPdf()'>Click this to view the PDF document on your browser's PDF viewer.</p>
            {% else %}
            <p onclick='downloadFile()'>You may download this file instead.</p>
            {% endif %}
            <video src=""></video>
        </div>

    </div>
   <script>
      function viewPdf() {
         var link = "{% url 'file-management:pdf_view' 0 %}".replace("0", {{file.id}})
         window.open(link);
      }
      function downloadFile() {
         var link = "{% url 'file-management:download' 0 %}".replace("0", {{file.id}})
         window.open(link);
      }
   </script>
</section>
{% endblock %}