{% extends 'file_management/base.html' %}

{% block content %}
<h1 class="h1">Viewing a File</h1>
<section class="viewing-file">
    <div class="viewing-file-container">

        <div class="flex-head mb-2">
            <div>
                <h4>FileName.pdf</h4>
                <small>250kb</small>
            </div>
        <div class="btn-dark">
            <a href=""><span class="iconify" data-icon="ic:baseline-upload"></span>Download File</a>
        </div>
        </div>

        <div class="flex-head mb-1">
            <div>
                <div class="flex spacing mb-1">
                    <h4>Category: </h4>
                    <div>
                        <p>Lesson Plan</p>
                    </div>
                </div>
                <div class="flex spacing mb-1">
                    <h4>Uploader:</h4>
                    <div>
                        <p>Erika Raymundo</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex spacing mb-1">
                    <h4>Uploaded: </h4>
                    <div>
                        <p>03/25/2021</p>
                    </div>
                </div>
                <div class="flex spacing mb-1">
                    <h4>Modified:</h4>
                    <div>
                        <p>04/28/2021</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-description spacing mb-2">
            <h4>Description:</h4>
            <div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia repudiandae deleniti aliquam dolor ipsam fugit, voluptas provident amet accusantium doloribus voluptatibus quia accusamus doloremque non voluptatum error cumque. Esse, dolor.</p>
            </div>
        </div>

        <div class="preview">
          preview
        </div>

    </div>
</section>
{% endblock %}