{% extends 'file_management/base.html' %}

{% block content %}
   <section class="file-management">
      <div class="file-management--container">
         <h1 class="h1">Uploading a File</h1>
            
            <form id="form" method="POST" action="{% url 'file-management:upload' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
               <div class="columns">
                  <div class="column">
                     <input id="f-name" class="input" type="text" placeholder="Text input" name="name">
                  </div>
                  <div class="column">
                     <input id="f-file" class="input" type="file" placeholder="Text input" name="file">
                  </div>
               </div>
               <div class="columns">
                  <div class="column">
                     <select name="category_id" id="category">
                        {% if category_list %}
                           {% for category in category_list %}
                           <option value="{{category.id}}">{{category.title}}</option>
                           {% endfor %}
                        {% else %}
                           <option value="-1">No categories yet</option></a>
                        {% endif %}
                        </select>
                  </div>
               </div>
               <div class="columns">
                  <div class="column">
                     <textarea class="textarea" placeholder="e.g. Hello world" name="description"></textarea>
                  </div>
               </div>
               <div class="columns">
                  <div class="column">
                     <button class="button is-dark">Cancel</button>
                     <button class="button is-dark" type="submit">Upload File</button>
                  </div>
               </div>
            </div>
            </form>
         
      
      </div>
   </section>


   <script>
      $('#myform').submit(function() {
         var name = $('#f-name').val();
         var file = $('#f-file').val();
         var name = $('#category').val();
         return true; // return false to cancel form action
      });
   </script>
   
{% endblock %}

