{% extends 'user-accounts/base.html' %}

{% block content %}
{% load static %}
<h1 class="h1">Adding an accounts</h1>
<section class="add-accounts">
    <div class="add-accounts--container">
          <div class="my-profile--image">
            <img src="{% static 'src/images/profile-image-large.png' %}" alt="profile-image-large" id='ChangeThisToProfilePicture'>
          </div>
          <div class="add-accounts--form-container">
              
            <form action="{% url 'AddUserAccount' %}" method='POSt' id='FormForAddingANewUserToTheDatabase' autocomplete='off'>
               {% csrf_token %} 
               <input type='file' style='display:none' id='uploadProfilePic' accept='image/*' name='image'>
                <div class="row">
                    <div class="col-12">
                      <h4>Fill up all the information.</h4>
                    </div>
                </div>
                <div class="row">
                   <div class="col-12">
                    <input type="text" placeholder='Enter username' id='Add-Account-Username' name='username'>  
                   </div>
                </div>
                <div class="row">
                    <div class="col-12">
                     <input type="text" placeholder="Enter first name"  id='Add-Account-first' name='first_name'> 
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                     <input type="text" placeholder="Enter middle name"  id='Add-Account-middle' name='middle_name'> 
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                     <input type="text" placeholder="Enter last name"  id='Add-Account-last' name='last_name'> 
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                     <input type="text" placeholder="Enter address"  id='Add-Account-address' name='address'> 
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                     <input type="email" placeholder="Enter email address"  id='Add-Account-email' name='email'> 
                    </div>
                  </div>
                <div class="row">
                    <div class="col-12 birthday">
                        <div class="icon-calendar">
                            <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8543 2.25H13.0996V0.75H11.59V2.25H4.04238V0.75H2.53285V2.25H1.77808C0.947843 2.25 0.268555 2.925 0.268555 3.75V15.75C0.268555 16.575 0.947843 17.25 1.77808 17.25H13.8543C14.6846 17.25 15.3639 16.575 15.3639 15.75V3.75C15.3639 2.925 14.6846 2.25 13.8543 2.25ZM13.8543 15.75H1.77808V6H13.8543V15.75Z" fill="#777777"/>
                            </svg>
                        </div>
                        <input type="text" name="birthday" id="birthday" placeholder="Select birthdate*" name='bday' autocomplete='nope'> 
                    </div>
                </div>

                <fieldset class="gender" id="group">
                    <p>Select gender*</p>
                    <div>
                        <input type="radio" id="Woman" name="group" value="1"
                              >
                        <label for="Woman">Woman</label>
                      </div>
                      
                      <div>
                        <input type="radio" id="Man" name="group" value="2">
                        <label for="Man">Man</label>
                      </div>
                      <div>
                        <input type="radio" id="Others" name="group" value="3">
                        <label for="Others">Others</label>
                      </div>
                </fieldset>
                <p style='text-align: center; color:red; visibility: hidden; display:block' id='ErrerMessageDuplicateEmail'></p>
                <div class="row">
                   <div class="col-12 btn-holder">
                    <a href="javascript:history.back()" class="btn-black">Cancel</a>
                    <a href="#" class="btn-black" onclick='validateAddAccount({{ username }})'>Save Account</a>
                   </div>
                </div>
            </form>
          </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
     function validateAddAccount(list2){
        var username = document.getElementById('Add-Account-Username').value;
        var first = document.getElementById('Add-Account-first').value;
        var middle = document.getElementById('Add-Account-middle').value;
        var last = document.getElementById('Add-Account-last').value;
        var address = document.getElementById('Add-Account-address').value;
        var email = document.getElementById('Add-Account-email').value;
        if(username == '' || first == '' || middle == '' || last == '' || address == '' || email == ''){
          Swal.fire({
            icon: 'error',
            title: "All fields are required.",
            confirmButtonText: 'Ok',
         })
        }else{
          //validate email
          var re = /\S+@\S+\.\S+/;
          if(re.test(email)){
            var isDuplicate = false;
            for(var i = 0 ; i < list2.length; i++){
              if(i+1 == list2.length){
                //last index
                if(list2[i] == username){
                  isDuplicate = true;
                }
                  if(!isDuplicate){
                    //Save To DB
                    Swal.fire({
                      icon: 'success',
                      allowOutsideClick: false,
                      title: "User Added Successfully.",
                      confirmButtonText: 'Great',
                   }).then(() => {
                    document.getElementById('FormForAddingANewUserToTheDatabase').submit();
                   })
                  }else{
                    //Error Message
                    Swal.fire({
                      icon: 'error',
                      title: "Username is already taken.",
                      confirmButtonText: 'Ok',
                   })
                  }
              }else{
                if(list2[i] == username){
                  isDuplicate = true;
                }
              }
            }
          }else{
            Swal.fire({
              icon: 'error',
              title: "Invalid Email Address.",
              confirmButtonText: 'Ok',
           })
          }
          
        }
      }

       //uplaod profile picture
    document.getElementById('ChangeThisToProfilePicture').onclick = function(e){
      document.getElementById('uploadProfilePic').click();
   }

   function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#ChangeThisToProfilePicture').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

$("#uploadProfilePic").change(function(){
    readURL(this);
});

    </script>

 </section>
{% endblock %}