{% extends 'user-accounts/base.html' %}

{% block content %}
<h1 class="h1">Archived Accounts</h1>
<section class="archived-accounts">
<div class="archived-accounts--container">

      <div class="component1">
      <h4 class=""><a href="/manage-accounts">Active Accounts</a></h4>
      <h4 class="active"><a  href="/manage-accounts/archived">Archived</a></h4>
      </div>

      <div class="archived-accounts--controls">
         <div class="archived-accounts--controls-date">
            <p class="text-small fw-600">Date created</p>
            <div class="component2">
               <div class="start-date">
                  <input type="text" id="datepicker-start">
               </div>
               -
               <div class="end-date">
                  <input type="text" id="datepicker-end">
               </div>
            </div>
         </div>
         <div class="archived-accounts--controls-right">
            <div class="component3">
                  <div class="icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M10.9167 9.66667H10.2583L10.025 9.44167C10.8417 8.49167 11.3333 7.25833 11.3333 5.91667C11.3333 2.925 8.90833 0.5 5.91667 0.5C2.925 0.5 0.5 2.925 0.5 5.91667C0.5 8.90833 2.925 11.3333 5.91667 11.3333C7.25833 11.3333 8.49167 10.8417 9.44167 10.025L9.66667 10.2583V10.9167L13.8333 15.075L15.075 13.8333L10.9167 9.66667ZM5.91667 9.66667C3.84167 9.66667 2.16667 7.99167 2.16667 5.91667C2.16667 3.84167 3.84167 2.16667 5.91667 2.16667C7.99167 2.16667 9.66667 3.84167 9.66667 5.91667C9.66667 7.99167 7.99167 9.66667 5.91667 9.66667Z" fill="#AAAAAA"/>
                     </svg>
                  </div>
               <input type="text" class="search-input" placeholder="Search">
            </div>
            <div class="btn-purple">
                  <a href=""><span class="iconify" data-icon="akar-icons:plus"></span>Account</a>
            </div>
         </div>
      </div>

   <div class="archived-accounts--table-container">
      <table>
         <thead>
            <tr>
               <th scope="col">Username</th>
               <th scope="col">Name</th>
               <th scope="col">Email</th>
               <th scope="col">Date Created</th>
               <th scope="col">Actions</th>
            </tr>
         </thead>
         <tbody>
            {% for user in users %}
            <tr>
               <td data-label="Username">{{ user.username }}</td>
               <td data-label="Name">{{ user.first_name }} {{ user.last_name }}</td>
               <td data-label="Email">{{ user.email }}</td>
               <td data-label="Date Created">{{ user.created_at }}</td>
               <td data-label="Actions" class="actions">
                  <div class="actions--container">
                  <div class="icon-pen" title="Edit">
                     <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M0.25 10.9375V13.75H3.0625L11.3575 5.45504L8.545 2.64254L0.25 10.9375ZM13.5325 3.28004C13.825 2.98754 13.825 2.51504 13.5325 2.22254L11.7775 0.467544C11.485 0.175044 11.0125 0.175044 10.72 0.467544L9.3475 1.84004L12.16 4.65254L13.5325 3.28004Z" fill="#272727" fill-opacity="0.5"/>
                     </svg>
                  </div>
                  <div class="icon-archive" title="Archive">
                     <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M13.405 1.9225L12.3625 0.6625C12.16 0.4075 11.8525 0.25 11.5 0.25H2.5C2.1475 0.25 1.84 0.4075 1.63 0.6625L0.595 1.9225C0.3775 2.1775 0.25 2.515 0.25 2.875V12.25C0.25 13.075 0.925 13.75 1.75 13.75H12.25C13.075 13.75 13.75 13.075 13.75 12.25V2.875C13.75 2.515 13.6225 2.1775 13.405 1.9225ZM7 11.125L2.875 7H5.5V5.5H8.5V7H11.125L7 11.125ZM1.84 1.75L2.4475 1H11.4475L12.1525 1.75H1.84Z" fill="#272727" fill-opacity="0.5"/>
                     </svg>
                  </div>
                  </div>
               </td>
            </tr>

         </tbody>
         </table>
   </div>



</div>
</section>
{% endblock %}




