{% extends 'user-accounts/base.html' %}

{% block content %}
<h1 class="h1">Archived Accounts</h1>
<section class="archived-accounts">
<div class="archived-accounts--container">

      <div class="component1">
      <h4 class=""><a href="/manage-accounts">Active Accounts</a></h4>
      <h4 class="active"><a  href="/manage-accounts/archived">Archived</a></h4>
      </div>

      <div class="archived-accounts--controls">
         <div class="archived-accounts--controls-date">
            <p class="text-small fw-600">Sort by</p>
            <div class="component4">
               <select id="select-sort">
                  <option value=1 {% if sort_selected == 1 %} selected {%endif%}>User ID</option>
                  <option value=2 {% if sort_selected == 2 %} selected {%endif%}>Username</option>
                  <option value=3 {% if sort_selected == 3 %} selected {%endif%}>Name</option>
                  <option value=4 {% if sort_selected == 4 %} selected {%endif%}>Email</option>
                  <option value=5 {% if sort_selected == 5 %} selected {%endif%}>Recently Archived</option>
                  <option value=6 {% if sort_selected == 6 %} selected {%endif%}>Earliest Archived</option>
               </select>
            </div>
         </div>
         <div class="archived-accounts--controls-date">
            <p class="text-small fw-600">Date created</p>
            <div class="component2">
               <div class="start-date">
                  <input type="text" id="datepicker-start" readonly value="{{from_date}}">
               </div>
               -
               <div class="end-date">
                  <input type="text" id="datepicker-end" readonly disabled value="{{to_date}}">
               </div>
            </div>
         </div>
         <div class="archived-accounts--controls-right">
            <div class="component3">
                  <div class="icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M10.9167 9.66667H10.2583L10.025 9.44167C10.8417 8.49167 11.3333 7.25833 11.3333 5.91667C11.3333 2.925 8.90833 0.5 5.91667 0.5C2.925 0.5 0.5 2.925 0.5 5.91667C0.5 8.90833 2.925 11.3333 5.91667 11.3333C7.25833 11.3333 8.49167 10.8417 9.44167 10.025L9.66667 10.2583V10.9167L13.8333 15.075L15.075 13.8333L10.9167 9.66667ZM5.91667 9.66667C3.84167 9.66667 2.16667 7.99167 2.16667 5.91667C2.16667 3.84167 3.84167 2.16667 5.91667 2.16667C7.99167 2.16667 9.66667 3.84167 9.66667 5.91667C9.66667 7.99167 7.99167 9.66667 5.91667 9.66667Z" fill="#AAAAAA"/>
                     </svg>
                  </div>
                  <input id="search" type="text" class="search-input" placeholder="Search" value="{{ search_value }}">
            </div>
         </div>
      </div>

   {% if users %}
   <div class="archived-accounts--table-container">
      <table style='table-layout: fixed; width: 100%'>
         <thead>
            <tr>
               <th scope="col" style = ' width: 10%' >User ID</th>
               <th scope="col">Username</th>
               <th scope="col">Name</th>
               <th scope="col">Email</th>
               <th scope="col">Account Archived</th>
               <th scope="col" style = ' width: 10%'>Actions</th>
            </tr>
         </thead>
         <tbody>
            {% for user in users %}
            
            <form action='{% url "RestoreUserAccount" %}' id='archiveThisAccountHiddenForm', method="POST">
               {% csrf_token %}
               <input type='text' value='{{user.pk}}' style='display:none' name='ID'  id='RenamethisTArchiveTheSpecificUser'>
            </form>
       <tr>
               <td style='cursor:default; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; ' data-label="PK">{{ user.pk }}</td>
               <td style='cursor:default; overflow: hidden; ; white-space: nowrap; text-overflow: ellipsis;' data-label="Username">{{ user.username }}</td>
               <td style='cursor:default; overflow: hidden; ; white-space: nowrap; text-overflow: ellipsis;' data-label="Name">{{ user.first_name }} {{ user.last_name }}</td>
               <td style='cursor:default;overflow: hidden; ; white-space: nowrap; text-overflow: ellipsis;'  data-label="Email">{{ user.email }}</td>
               <td style='cursor:default;overflow: hidden; ; white-space: nowrap; text-overflow: ellipsis;' data-label="Date Created">{{ user.deleted_at }}</td>
              <td data-label="Actions" class="actions">
                  <div class="actions--container">
                  <div class="icon-archive" title="Restore" onclick='archiveThisAccount("{{ user.pk }}")'>
                     <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M14.5562 3.6975L13.5717 2.5075C13.3733 2.27375 13.0829 2.125 12.75 2.125H4.25C3.91708 2.125 3.62667 2.27375 3.43542 2.51458L2.45083 3.6975C2.24542 3.94542 2.125 4.25708 2.125 4.60417V13.4583C2.125 14.2375 2.75542 14.875 3.54167 14.875H13.4583C14.2375 14.875 14.875 14.2375 14.875 13.4583V4.60417C14.875 4.25708 14.7546 3.94542 14.5562 3.6975ZM8.5 6.72917L12.3958 10.625H9.91667V12.0417H7.08333V10.625H4.60417L8.5 6.72917ZM3.62667 3.54167L4.2075 2.83333H12.7075L13.3663 3.54167H3.62667Z"
                              fill="#272727" fill-opacity="0.5" />
                     </svg>
                  </div>
                  </div>
               </td>
            </tr>

            {% endfor %}
         </tbody>
         </table>
   </div>
   <div class="btn-dark" id="btnPrintPDF" style="margin-top:25px">
      <a><span class="iconify" data-icon="akar-icons:paper" style="color: white;"></span>Print to
         PDF</a>
   </div>
   {% else %}
   <p class="placeholder-not-found">No archived user accounts yet.</p>
   {% endif %}
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
   
      var fromDateObject, fromDateString;
      var toDateObject, toDateString;

      $("#datepicker-start").datepicker({
         maxDate: 0,
         dateFormat: 'yy-mm-dd',
         onSelect: function(dateText, inst) {
            fromDateObject = $(this).datepicker('getDate'); //the getDate method
            $("#datepicker-end").val("");
            $("#datepicker-end").prop("disabled", false);
            
            $("#datepicker-end").datepicker("destroy");
            $("#datepicker-end").datepicker({
               minDate: fromDateObject,
               maxDate: new Date(),
               dateFormat: 'yy-mm-dd',
               onSelect: function(dateText, inst) {
                  toDateObject = $(this).datepicker('getDate'); //the getDate method
                  window.location.href = getUrlMask();
               }
            });
         }
      });

      $("#select-sort").change(function() {
         window.location.href = getUrlMask();
      });

      $('#search').keypress(
         function(e){
         if (e.which == 13) {
            window.location.href = getUrlMask();
         }
      });

      
      $("#btnPrintPDF").click(function() {
         window.location.href = getUrlPrintMask();
      });

      
      function getUrlForPrintFilter1() {
         fromDateText = $('#datepicker-start').val();
         toDateText = $('#datepicker-end').val();
         console.log(fromDateText);

         if (toDateText == '') {
            const date = new Date();
            var y = date.getFullYear();
            var m = ("0"+(date.getMonth()+1)).slice(-2);
            var d = ("0"+date.getDate()).slice(-2);

            toDateText = y + "-" + m + "-" + d;
         }

         var sort = $("#select-sort").val();

         var url_mask = "{% url 'users-management:printArchivedFilter1' 222222 'date1' 'date2' %}"
         .replace(/222222/, sort)
         .replace(/date1/, fromDateText)
         .replace(/date2/, toDateText);

         return url_mask;
      }
      
      function getUrlForPrintFilter2() {
         console.log("hello! " + url_mask);
         fromDateText = $('#datepicker-start').val();
         toDateText = $('#datepicker-end').val();
         console.log(fromDateText);

         if (toDateText == '') {
            const date = new Date();
            var y = date.getFullYear();
            var m = ("0"+(date.getMonth()+1)).slice(-2);
            var d = ("0"+date.getDate()).slice(-2);

            toDateText = y + "-" + m + "-" + d;
         }
         var sort = $("#select-sort").val();
         var query = $("#search").val();

         var url_mask = "{% url 'users-management:printArchivedFilter2' 222222 'date1' 'date2' 'query' %}"
                        .replace(/222222/, sort)
                        .replace(/query/, query)
                        .replace(/date1/, fromDateText)
                        .replace(/date2/, toDateText);

         return url_mask;
      }

      function getUrlPrintMask() {
         var url_mask;

         if ($("#search").val() == '') {
            url_mask = getUrlForPrintFilter1();
         } else {
            url_mask = getUrlForPrintFilter2();
         }

         return url_mask;
      }



      function getUrlForFilter1() {
         fromDateText = $('#datepicker-start').val();
         toDateText = $('#datepicker-end').val();
         console.log(fromDateText);

         if (toDateText == '') {
            const date = new Date();
            var y = date.getFullYear();
            var m = ("0"+(date.getMonth()+1)).slice(-2);
            var d = ("0"+date.getDate()).slice(-2);

            toDateText = y + "-" + m + "-" + d;
         }

         var category = $("#select-category").val();
         var sort = $("#select-sort").val();

         var url_mask = "{% url 'users-management:archived-filter1' 222222 'date1' 'date2' %}"
         .replace(/222222/, sort)
         .replace(/date1/, fromDateText)
         .replace(/date2/, toDateText);

         return url_mask;
      }
      
      function getUrlForFilter2() {
      console.log("hello! " + url_mask);
         fromDateText = $('#datepicker-start').val();
         toDateText = $('#datepicker-end').val();
         console.log(fromDateText);

         if (toDateText == '') {
            const date = new Date();
            var y = date.getFullYear();
            var m = ("0"+(date.getMonth()+1)).slice(-2);
            var d = ("0"+date.getDate()).slice(-2);

            toDateText = y + "-" + m + "-" + d;
         }

         var category = $("#select-category").val();
         var sort = $("#select-sort").val();
         var query = $("#search").val();

         var url_mask = "{% url 'users-management:archived-filter2' 222222 'date1' 'date2' 'query' %}"
                        .replace(/222222/, sort)
                        .replace(/query/, query)
                        .replace(/date1/, fromDateText)
                        .replace(/date2/, toDateText);

         return url_mask;
      }

      function getUrlMask() {
         var url_mask;

         if ($("#search").val() == '') {
            url_mask = getUrlForFilter1();
         } else {
            url_mask = getUrlForFilter2();
         }

         return url_mask;
      }

   
   function archiveThisAccount(PK){
      document.getElementById('RenamethisTArchiveTheSpecificUser').value = PK;
      Swal.fire({
         icon: 'warning',
         showCancelButton: true,
         title: "Are you sure you want to restore this account?.",
         confirmButtonText: 'Yes',
         cancelButtonText: 'Cancel',
      }).then((result) => {
         if(result.isConfirmed){
            Swal.fire({
               icon: 'success',
               title: "User has been restored successfully",
               allowOutsideClick: false,
               confirmButtonText: 'Great',
            }).then((result)=> {
               document.getElementById('archiveThisAccountHiddenForm').submit();
            })
         }
      })
   }

</script>

</section>
{% endblock %}




