{% extends 'user-accounts/base.html' %}

{% block content %}
{% load static %}
{% for detail in users %}
<h1 class="h1">Editing an account</h1>
<section class="edit-accounts">
    <div class="edit-accounts--container">
          <div class="my-profile--image">

            <form enctype="multipart/form-data" method='POST' action='{%url "UploadProfilePictureFromEditUser" %}' id='formToUploadProfilePic' autocomplete='off'>
               {% csrf_token %}
               <input type='file' style='display:none' id='uploadProfilePic' accept='image/*' name='image'>
               <input type='text' value=" {{ detail.pk }}" style='display:none' name='PK'>
            </form>
            {% if detail.image == None %}
            <input type='text' value="" style='display:none' id='holderOfImageFromDB'>
            {% else %}
            <input type='text' value="{{ detail.image.url }}" style='display:none' id='holderOfImageFromDB'>
            {% endif %}
            <img src="" alt="profile-image-large" id='ChangeThisToProfilePicture'>
          </div>

          <div class="edit-accounts--form-container">
            <form action="{%  url 'SaveChangesOnEditUserAccount' %}" method="POST" id='SaveChangesForm' autocomplete='off'>
              {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                      <h4>Fill up all the information.</h4>
                    </div>
                </div>
                <div class="row">
                   <div class="col-12">
                      <label>Username</label>
                    <input type="text" value="{{ detail.username }}"  name='username' id ='username'>
                    <input type="text" value="{{ detail.pk }}" name='PK' style="display:none"> 
                   </div>
                </div>
                <div class="row">
                    <div class="col-12">
                     <label>First Name</label>
                     <input type="text" placeholder="Enter first name"  value="{{ detail.first_name }}"  name='first_name'
                     id ='first_name'> 
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                     <label>Middle Name</label>
                     <input type="text" placeholder="Enter middle name"  value="{{ detail.middle_name }}"  name='middle_name'
                     id ='middle_name'> 
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                     <label>Last Name</label>
                     <input type="text" placeholder="Enter last name"  value="{{ detail.last_name }}"  name='last_name'
                     id ='last_name'> 
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                     <label>Address</label>
                     <input type="text" placeholder="Enter address"  value="{{ detail.address }}"  name='address'
                     id ='address'> 
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                     <label>Email Address</label>
                     <input type="email" placeholder="Enter email address"  value="{{ detail.email }}"  name='email'
                     id ='email'> 
                    </div>
                 </div>

                <div class="row">
                    <div class="col-12 birthday">
                     <label>Birthday</label>
                     <input type="date" name="bday" id="birthday" placeholder="Select birthdate*" value='{{ bday }}'> 
                    </div>
                </div>
                <input type="text" name='asd' id='hiddeGender' value='{{ detail.gender }}' style='display:none'>
                <fieldset class="gender" id="group">
                    <p>Select gender*</p>
                    <div>
                        <input type="radio" id="Woman" name="group" value="1"
                              >
                        <label for="Woman">Woman</label>
                      </div>
                      
                      <div>
                        <input type="radio" id="Man" name="group" value="2">
                        <label for="Man">Man</label>
                      </div>
                      
                      <div>
                        <input type="radio" id="Others" name="group" value="3">
                        <label for="Others">Others</label>
                      </div>
                </fieldset>
                <div class="row">
                   <div class="col-12 btn-holder">
                    <a href="javascript:history.back()" class="btn-black">Cancel</a>
                    <div class="btn-black" onclick ='onClickSaveButton({{ invalidUsernames }})'>Save Account</div>
                   </div>
                </div>
            </form>
          </div>
    </div>
 </section>


 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

   //for gender (edit)
   if(document.getElementById('hiddeGender').value == 1){
      document.getElementById('Woman').checked = true;
   }
   else if (document.getElementById('hiddeGender').value == 2){
      document.getElementById('Man').checked = true;
   }
   else{
      document.getElementById('Others').checked = true;
   }

   //end gender

   //save Changes
  function onClickSaveButton(listOfUsernames) {
    //validate
    var username = document.getElementById('username').value;
    var firstname = document.getElementById('first_name').value;
    var middleName = document.getElementById('middle_name').value;
    var lastname = document.getElementById('last_name').value;
    var address = document.getElementById('address').value;
    var email = document.getElementById('email').value;
      // Validate
      if(username == '' || firstname == '' || lastname == '' || address == '' || middleName == '' || email == ''){
         Swal.fire({
            icon: 'warning',
            title: "All fields are required",
            confirmButtonText: 'Ok',
         })
      }else{
          //validate email
          var re = /\S+@\S+\.\S+/;
          if(re.test(email)){
//check if username is duplicated
var isDuplicate = false;
for(var i = 0 ; i < listOfUsernames.length; i++){
  if(i+1 == listOfUsernames.length){
    //last index
    if(listOfUsernames[i] == username){
      isDuplicate = true;
    }
      if(!isDuplicate){
        //Save To DB
        Swal.fire({
           icon: 'success',
           allowOutsideClick: false,
           title: "Changes has been saved",
           confirmButtonText: 'Great',
        }).then(() => {
           document.getElementById('SaveChangesForm').submit()
        })
        
      }else{
        //Error Message
        Swal.fire({
         icon: 'error',
         title: "Username is already taken.",
         confirmButtonText: 'Ok',
      })
      }
  }else{
    if(listOfUsernames[i] == username){
      isDuplicate = true;
    }
  }
}
          }else{
            Swal.fire({
               icon: 'error',
               title: "Invalid Email Address",
               confirmButtonText: 'Ok',
            })
          }
         
      }
   }

   document.getElementById('ChangeThisToProfilePicture').style.width = '250px';
   document.getElementById('ChangeThisToProfilePicture').style.height = '250px';
   document.getElementById('ChangeThisToProfilePicture').style.objectFit = 'cover';
   document.getElementById('ChangeThisToProfilePicture').style.borderRadius = '50%';
   if(document.getElementById('holderOfImageFromDB').value == ''){
      document.getElementById('ChangeThisToProfilePicture').src = "{% static 'src/images/profile-image-large.png' %}";
   }else{
      document.getElementById('ChangeThisToProfilePicture').src = document.getElementById('holderOfImageFromDB').value;
   }
    //uplaod profile picture
    document.getElementById('ChangeThisToProfilePicture').onclick = function(e){
      document.getElementById('uploadProfilePic').click();
   }

   document.getElementById('uploadProfilePic').onchange = function(e){
      //upload sa Database
      Swal.fire({
         icon: 'success',
         allowOutsideClick: false,
         title: "Your display picture has been changed successfully.",
         confirmButtonText: 'Great',
      }).then(() => {
         document.getElementById('formToUploadProfilePic').submit()
      })
   }

   ///////////////////////
  
</script>
 
{% endfor %}
{% endblock %}