{% extends 'user-accounts/base.html' %}

{% block content %}
{% load static %}
{% for detail in users %}
<h1 class="h1">Editing an account</h1>
<section class="edit-accounts">
    <div class="edit-accounts--container">


          <div class="my-profile--image">
            {% if detail.image %}
            <input type='text' value="{{ detail.image.url }}" style='display:none' id='holderOfImageFromDB'>
            {% else %}
            <input type='text' value="" style='display:none' id='holderOfImageFromDB'>
            {% endif %}
            <img src="" alt="profile-image-large" id='ChangeThisToProfilePicture'>
          </div>

          <style>
             .my-profile--image{
                position: relative;
             }
             .my-profile--image img{
                  cursor: pointer;
               }
             .my-profile--image::before{
                content: "Upload profile pricture";
                position: absolute;
                font-size: 18px;
                font-weight: 600;
                color: #272727;
                width: 40%;
                top: 25%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 3;
                pointer-events: none;
                display: none;
             }
             .my-profile--image::after{
                content: "";
                height: 125px;
                width: 250px;
                background-color: #c4c4c498;
                display: block;
                position: absolute;
                top: 19%;
                left: 50%;
                transform: translateX(-50%);
                pointer-events: none;
                border-radius:0 0 250px 250px;
                border-bottom-left-radius: 45 * 2;
                border-bottom-right-radius: 45 * 2;
                display: none;
             }
             .my-profile--image:hover::after{
                display: block;
             }
             .my-profile--image:hover::before{
                display: block;
             }
          </style>

          <div class="edit-accounts--form-container">
            <style>
               /* The message box is shown when the user clicks on the password field */
               #messageVALIDATIONS {
                 display:none;
                 background: #f1f1f1;
                 color: #000;
                 position: relative;
                 padding: 20px;
                 margin-top: 10px;
               }
               
               #messageVALIDATIONS p {
                 padding: 10px 35px;
                 font-size: 18px;
               }
               
               /* Add a green text color and a checkmark when the requirements are right */
               .valid {
                 color: green;
               }
               
               .valid:before {
                 position: relative;
                 left: -35px;
                 content: "✔";
               }
               
               /* Add a red text color and an "x" when the requirements are wrong */
               .invalid {
                 color: red;
               }
               
               .invalid:before {
                 position: relative;
                 left: -35px;
                 content: "✖";
               }
               </style>
            <form action="{%  url 'SaveChangesOnEditUserAccount' %}" method="POST" id='SaveChangesForm' autocomplete='off'  enctype="multipart/form-data">
              {% csrf_token %}
              <input type='file' style='display:none' id='uploadProfilePic' accept='image/*' name='image'>
                <div class="row">
                    <div class="col-12">
                      <h4>Fill up all the information.</h4>
                    </div>
                </div>
                <div class="row">
                   <div class="col-12">
                    <input type="text" value="{{ detail.username }}"  name='username' id ='username' placeholder='Enter Username' maxlength="25">
                    <input type="text" value="{{ detail.pk }}" name='PK' style="display:none"> 
                   </div>
                </div>
                <div class="row">
                  <div class="col-12">
                   <input onkeyup='onKeyUpSesame()' onfocus='openSesame()' onfocusout='closeSesame()' type="password" placeholder="Enter Password"  value="{{ detail.password }}"  name='password'
                   id ='password'  maxlength="30"> 
                  </div>
               </div>
               <div id="messageVALIDATIONS">
                  <h3>Password must contain the following:</h3>
                  <p id="letter2" class="invalid">A <b>lowercase</b> letter</p>
                  <p id="capital2" class="invalid">A <b>capital (uppercase)</b> letter</p>
                  <p id="number2" class="invalid">A <b>number</b></p>
                  <p id="length2" class="invalid">Minimum <b>8 characters</b></p>
                </div>
                <div class="row">
                    <div class="col-12">
                     <input type="text" placeholder="Enter first name"  value="{{ detail.first_name }}"  name='first_name'
                     id ='first_name'  maxlength="30"> 
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                     <input type="text" placeholder="Enter middle name"  value="{{ detail.middle_name }}"  name='middle_name'
                     id ='middle_name'  maxlength="30"> 
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                     <input type="text" placeholder="Enter last name"  value="{{ detail.last_name }}"  name='last_name'
                     id ='last_name'  maxlength="30"> 
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                     <input type="text" placeholder="Enter address"  value="{{ detail.address }}"  name='address'
                     id ='address' maxlength="100"> 
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                     <input type="email" placeholder="Enter email address"  value="{{ detail.email }}"  name='email'
                     id ='email'  maxlength="50"> 
                    </div>
                 </div>

                <div class="row">
                    <div class="col-12 birthday">
                     <div class="icon-calendar">
                        <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.8543 2.25H13.0996V0.75H11.59V2.25H4.04238V0.75H2.53285V2.25H1.77808C0.947843 2.25 0.268555 2.925 0.268555 3.75V15.75C0.268555 16.575 0.947843 17.25 1.77808 17.25H13.8543C14.6846 17.25 15.3639 16.575 15.3639 15.75V3.75C15.3639 2.925 14.6846 2.25 13.8543 2.25ZM13.8543 15.75H1.77808V6H13.8543V15.75Z" fill="#777777"></path>
                        </svg>
                    </div>
                     <input type="date" name="bday" id="bday" placeholder="Select birthdate*" value='{{ bday }}'> 
                    </div>
                </div>
                  <style>
                  #bday{
                  width: 100%;
                  display: block;
                  border-radius: 5px;
                  border: 2px solid #ddd;
                  padding: 1rem 3rem 1rem 1.5rem;
                  margin-bottom: 20px;
                  font-size: 16px;
                  font-weight: 600;
                  font-family: 'Raleway', sans-serif !important;
                  -webkit-transition: all linear 200ms;
                  transition: all linear 200ms;
                  outline: none;
                  }
                  #bday:hover, #bday:focus{
                  border-color: #8761F4;
                  }
                  </style>
                <input type="text" name='asd' id='hiddeGender' value='{{ detail.gender }}' style='display:none'>
                <fieldset class="gender" id="group">
                    <p>Select gender*</p>
                    <div>
                        <input type="radio" id="Woman" name="group" value="1"
                              >
                        <label for="Woman">Woman</label>
                      </div>
                      <div>
                        <input type="radio" id="Man" name="group" value="2">
                        <label for="Man">Man</label>
                      </div>
                      
                      <div>
                        <input type="radio" id="Others" name="group" value="3">
                        <label for="Others">Others</label>
                      </div>
                </fieldset>
                <div class="row">
                   <div class="col-12 btn-holder">
                    <a href="javascript:history.back()" class="btn-black">Cancel</a>
                    <div class="btn-black" onclick ='onClickSaveButton({{ invalidUsernames }}, {{ emails }})'>Save Account</div>
                   </div>
                </div>
            </form>
          </div>
    </div>
 </section>


 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

   //For Special characters.
   $("#username").keypress(function(event) {
      var character = String.fromCharCode(event.keyCode);
      if(! isValid(character)){
         Swal.fire({
            icon: 'error',
            title: "Username could not contain special characters.",
            confirmButtonText: 'Ok',
         })
      }
      return isValid(character);
   });
   $("#first_name").keypress(function(event) {
      var character = String.fromCharCode(event.keyCode);
      if(! isValid(character)){
         Swal.fire({
            icon: 'error',
            title: "First name could not contain special characters.",
            confirmButtonText: 'Ok',
         })
      }
      return isValid(character);
   });
   $("#middle_name").keypress(function(event) {
      var character = String.fromCharCode(event.keyCode);
      if(! isValid(character)){
         Swal.fire({
            icon: 'error',
            title: "Middle name could not contain special characters.",
            confirmButtonText: 'Ok',
         })
      }
      return isValid(character);
   });
   $("#last_name").keypress(function(event) {
      var character = String.fromCharCode(event.keyCode);
      if(! isValid(character)){
         Swal.fire({
            icon: 'error',
            title: "Last name could not contain special characters.",
            confirmButtonText: 'Ok',
         })
      }
      return isValid(character);
   });
      function isValid(str) {
            return !/[~`!@#$%\^&*()+=\-\[\]\\';,/{}|\\":<>\?]/g.test(str);
        }

   //for gender (edit)
   if(document.getElementById('hiddeGender').value == 1){
      document.getElementById('Woman').checked = true;
   }
   else if (document.getElementById('hiddeGender').value == 2){
      document.getElementById('Man').checked = true;
   }
   else{
      document.getElementById('Others').checked = true;
   }

   //end gender

   //save Changes
  function onClickSaveButton(listOfUsernames, listOfEmails) {
    //validate
    var username = document.getElementById('username').value;
    var firstname = document.getElementById('first_name').value;
    var middleName = document.getElementById('middle_name').value;
    var lastname = document.getElementById('last_name').value;
    var address = document.getElementById('address').value;
    var email = document.getElementById('email').value;
      // Validate
      if(username == '' || firstname == '' || lastname == '' || address == '' || middleName == '' || email == ''){
         Swal.fire({
            icon: 'warning',
            title: "All fields are required",
            confirmButtonText: 'Ok',
         })
      }else{
          //validate email
          var re = /\S+@\S+\.\S+/;
          if(re.test(email)){
//validate email
var re = /\S+@\S+\.\S+/;
if(re.test(email)){
  //check if username is duplicated
  var isDuplicate = false;
  for(var i = 0 ; i < listOfUsernames.length; i++){
  if(i+1 == listOfUsernames.length){
  //last index
  if(listOfUsernames[i] == username){
     isDuplicate = true;
  }
  if(!isDuplicate){
       //Check kung tama format ni user ng password
       if(letter2.className == 'invalid' || capital2.className == 'invalid' || number2.className == 'invalid' || length2.className == 'invalid' ){
        //Error Message
  Swal.fire({
   icon: 'error',
   title: "Please follow the required format for a password.",
   confirmButtonText: 'Ok',
});
      }else{
//Validate if email is unique
var isDuplicatEmail = false;
for(var i = 0 ; i < listOfEmails.length; i++){
if(i+1 == listOfEmails.length){
//last index
if(listOfEmails[i] == email){
 isDuplicatEmail = true;
}
   if(!isDuplicatEmail){
    //Save To DB
    Swal.fire({
     icon: 'success',
     allowOutsideClick: false,
     title: "Changes has been saved",
     confirmButtonText: 'Great',
 }).then(() => {
     document.getElementById('SaveChangesForm').submit()
  })
     }else{
       //Error Message
       Swal.fire({
       icon: 'error',
       title: "Email address is already used for another account.",
       confirmButtonText: 'Ok',
      });
       }
}else{
  if(listOfEmails[i] == email){
    isDuplicatEmail = true;
     }
     }
    }
      }
     
  }else{
 //Error Message
  Swal.fire({
    icon: 'error',
    title: "Username is already taken.",
    confirmButtonText: 'Ok',
 });
 }
  }else{
   if(listOfUsernames[i] == username){
     isDuplicate = true;
   }
   }
  }
}else{
  Swal.fire({
     icon: 'warning',
     title: "Invalid Email Address",
     confirmButtonText: 'Ok',
  });
}
}
      }
   }

   document.getElementById('ChangeThisToProfilePicture').style.width = '250px';
   document.getElementById('ChangeThisToProfilePicture').style.height = '250px';
   document.getElementById('ChangeThisToProfilePicture').style.objectFit = 'cover';
   document.getElementById('ChangeThisToProfilePicture').style.borderRadius = '50%';
   if(document.getElementById('holderOfImageFromDB').value == ''){
      document.getElementById('ChangeThisToProfilePicture').src = "{% static 'src/images/profile-image-large.png' %}";
   }else{
      document.getElementById('ChangeThisToProfilePicture').src = document.getElementById('holderOfImageFromDB').value;
   }
   ///////////////////////
   document.getElementById('ChangeThisToProfilePicture').onclick = function(e){
      document.getElementById('uploadProfilePic').click();
   }

    //uplaod profile picture
   function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
              $('#ChangeThisToProfilePicture').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
      }
  }
  
  $("#uploadProfilePic").change(function(){
      readURL(this);
  });
  

  

   //max datev
   var today = new Date();
   var dd = today.getDate();
   var mm = today.getMonth() + 1; //January is 0!
   var yyyy = today.getFullYear();
   if (dd < 10) {
   dd = '0' + dd;
   }
   if (mm < 10) {
   mm = '0' + mm;
   }  
   today = yyyy + '-' + mm + '-' + dd;
   document.getElementById("bday").setAttribute("max", today);

   
   //////////////////////////////////
   //Password Validation
function openSesame(){
   document.getElementById("messageVALIDATIONS").style.display = "block";
   document.getElementById("messageVALIDATIONS").style.position = "absolute";
   document.getElementById("messageVALIDATIONS").style.zIndex = "5";
}
function closeSesame(){
   document.getElementById("messageVALIDATIONS").style.display = "none";
}
function onKeyUpSesame(){
var myInput = document.getElementById("password");

var letter = document.getElementById("letter2");
var capital = document.getElementById("capital2");
var number = document.getElementById("number2");
var length = document.getElementById("length2");
// Validate lowercase letters
var lowerCaseLetters = /[a-z]/g;
if(myInput.value.match(lowerCaseLetters)) {  
  letter.classList.remove("invalid");
  letter.classList.add("valid");
} else {
  letter.classList.remove("valid");
  letter.classList.add("invalid");
}

// Validate capital letters
var upperCaseLetters = /[A-Z]/g;
if(myInput.value.match(upperCaseLetters)) {  
  capital.classList.remove("invalid");
  capital.classList.add("valid");
} else {
  capital.classList.remove("valid");
  capital.classList.add("invalid");
}

// Validate numbers
var numbers = /[0-9]/g;
if(myInput.value.match(numbers)) {  
  number.classList.remove("invalid");
  number.classList.add("valid");
} else {
  number.classList.remove("valid");
  number.classList.add("invalid");
}

// Validate length
if(myInput.value.length >= 8) {
  length.classList.remove("invalid");
  length.classList.add("valid");
} else {
  length.classList.remove("valid");
  length.classList.add("invalid");
}
}

//Check kung ano na dapat naka check sa mga parameters - set sa valid yung class if ever
var wordToCheck = Array.from(document.getElementById('password').value);
if(wordToCheck.length >= 8){
   document.getElementById("length2").classList.remove("invalid");
   document.getElementById("length2").classList.add("valid");
}
for(var i = 0; i < wordToCheck.length; i++){
   if(isCharNumber(wordToCheck[i])){
      document.getElementById("number2").classList.remove("invalid");
      document.getElementById("number2").classList.add("valid");
   }else{
      if(wordToCheck[i] == wordToCheck[i].toUpperCase()){
         document.getElementById("capital2").classList.remove("invalid");
         document.getElementById("letter2").classList.remove("invalid");
         document.getElementById("capital2").classList.add("valid");
         document.getElementById("letter2").classList.add("valid");
      }
   }
}

function isCharNumber(c) {
   return c >= '0' && c <= '9';
 }
   ////////////////////////
  
</script>
 
{% endfor %}
{% endblock %}