{% extends 'user-accounts/base.html' %}

{% block content %}
<h1 class="h1">Manage Accounts</h1>
<section class="manage-accounts">
<div class="manage-accounts--container">

      <div class="component1">
      <h4 class="active"><a href="/manage-accounts">Active Accounts</a></h4>
      <h4 class=""><a href="/manage-accounts/archived">Archived</a></h4>
      </div>
      
      <div class="manage-accounts--controls">
         <div class="manage-accounts--controls-date">
            <p class="text-small fw-600">Sort by</p>
            <div class="component4">
               <select id="select-sort">
                  <option value=1 {% if sort_selected == 1 %} selected {%endif%}>User ID</option>
                  <option value=2 {% if sort_selected == 2 %} selected {%endif%}>Username</option>
                  <option value=3 {% if sort_selected == 3 %} selected {%endif%}>Name</option>
                  <option value=4 {% if sort_selected == 4 %} selected {%endif%}>Email</option>
                  <option value=5 {% if sort_selected == 5 %} selected {%endif%}>Recently Created</option>
                  <option value=6 {% if sort_selected == 6 %} selected {%endif%}>Earliest Created</option>
               </select>
            </div>
         </div>
         <div class="manage-accounts--controls-date">
            <p class="text-small fw-600">Date created</p>
            <div class="component2">
               <div class="start-date">
                  <input type="text" id="datepicker-start" readonly value="{{from_date}}">
               </div>
               -
               <div class="end-date">
                  <input type="text" id="datepicker-end" readonly disabled value="{{to_date}}">
               </div>
            </div>
         </div>
         <div class="manage-accounts--controls-right">
            <div class="component3">
                  <div class="icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M10.9167 9.66667H10.2583L10.025 9.44167C10.8417 8.49167 11.3333 7.25833 11.3333 5.91667C11.3333 2.925 8.90833 0.5 5.91667 0.5C2.925 0.5 0.5 2.925 0.5 5.91667C0.5 8.90833 2.925 11.3333 5.91667 11.3333C7.25833 11.3333 8.49167 10.8417 9.44167 10.025L9.66667 10.2583V10.9167L13.8333 15.075L15.075 13.8333L10.9167 9.66667ZM5.91667 9.66667C3.84167 9.66667 2.16667 7.99167 2.16667 5.91667C2.16667 3.84167 3.84167 2.16667 5.91667 2.16667C7.99167 2.16667 9.66667 3.84167 9.66667 5.91667C9.66667 7.99167 7.99167 9.66667 5.91667 9.66667Z" fill="#AAAAAA"/>
                     </svg>
                  </div>
                  <input id="search" type="text" class="search-input" placeholder="Search" value="{{ search_value }}">
            </div>
            <div class="btn-purple">
                  <a href="/manage-accounts/Add"><span class="iconify" data-icon="akar-icons:plus"></span>Account</a>
            </div>
         </div>
      </div>

   <div class="manage-accounts--table-container">
      <table style='table-layout: fixed; width: 100%'>
         <thead>
            <tr>
               <th scope="col" style = 'width: 10%'>User ID</th>
               <th scope="col">Username</th>
               <th scope="col">Name</th>
               <th scope="col">Email</th>
               <th scope="col">Account Created</th>
               <th scope="col" style = 'width: 10%'>Actions</th>
            </tr>
         </thead>
         <tbody>
            {% for userList in users %}
            <form action='{% url "ArchieveUserAccount" %}' id='archiveThisAccountHiddenForm', method="POST">
               {% csrf_token %}
               <input type='text' value='{{userList.pk}}' style='display:none' name='ID'  id='RenamethisTArchiveTheSpecificUser'>
            </form>

            <form action='{% url "EditAccount" %}' id='EditUserAccountFromHereThis', method="POST">
               {% csrf_token %}
               <input type='text' value='{{userList.pk}}' style='display:none' name='PK'  id='RenamethisToEditheSpecificUser'>
            </form>

            <form action='{% url "ViewAccount" %}' id='ViewAccountHinddenForm', method="POST">
               {% csrf_token %}
               <input type='text' value='{{userList.pk}}' style='display:none' name='PK' id='RenamethisToViewTheSpecificUser'>
            </form>

            <tr>
               <td onclick='ViewTThisUserAccount("{{ userList.pk }}")' style='cursor:pointer;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;' data-label="Username">{{ userList.pk }}</td>
               <td onclick='ViewTThisUserAccount("{{ userList.pk }}")' style='cursor:pointer;overflow: hidden;  white-space: nowrap; text-overflow: ellipsis;' data-label="Username">{{ userList.username }}</td>
               <td onclick='ViewTThisUserAccount("{{ userList.pk }}")'  style='cursor:pointer;overflow: hidden;  white-space: nowrap; text-overflow: ellipsis;' data-label="Name">{{ userList.first_name }} {{ userList.last_name }}</td>
               <td onclick='ViewTThisUserAccount("{{ userList.pk }}")' style='cursor:pointer;overflow: hidden;  white-space: nowrap; text-overflow: ellipsis;'  data-label="Email">{{ userList.email }}</td>
               <td onclick='ViewTThisUserAccount("{{ userList.pk }}")'  style='cursor:pointer;overflow: hidden;  white-space: nowrap;text-overflow: ellipsis;' data-label="Date Created">{{ userList.created_at }}</td>
               <td data-label="Actions" class="actions">
                  <div class="actions--container">
                  <div class="icon-pen" title="Edit" onclick='EditThisUserAccount("{{ userList.pk }}")'>
                     <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M0.25 10.9375V13.75H3.0625L11.3575 5.45504L8.545 2.64254L0.25 10.9375ZM13.5325 3.28004C13.825 2.98754 13.825 2.51504 13.5325 2.22254L11.7775 0.467544C11.485 0.175044 11.0125 0.175044 10.72 0.467544L9.3475 1.84004L12.16 4.65254L13.5325 3.28004Z" fill="#272727" fill-opacity="0.5"/>
                     </svg>
                  </div>
                  <div class="icon-archive" title="Archive" onclick='archiveThisAccount("{{ userList.pk }}")'>
                     <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M13.405 1.9225L12.3625 0.6625C12.16 0.4075 11.8525 0.25 11.5 0.25H2.5C2.1475 0.25 1.84 0.4075 1.63 0.6625L0.595 1.9225C0.3775 2.1775 0.25 2.515 0.25 2.875V12.25C0.25 13.075 0.925 13.75 1.75 13.75H12.25C13.075 13.75 13.75 13.075 13.75 12.25V2.875C13.75 2.515 13.6225 2.1775 13.405 1.9225ZM7 11.125L2.875 7H5.5V5.5H8.5V7H11.125L7 11.125ZM1.84 1.75L2.4475 1H11.4475L12.1525 1.75H1.84Z" fill="#272727" fill-opacity="0.5"/>
                     </svg>
                  </div>
                  </div>
               </td>
            </tr>
            {% endfor %}
         </tbody>
         </table>
         <div class="btn-dark" id="btnPrintPDF" style="margin-top:25px">
            <a><span class="iconify" data-icon="akar-icons:paper" style="color: white;"></span>Print to
               PDF</a>
         </div>
   </div>

   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script>
   
      var fromDateObject, fromDateString;
      var toDateObject, toDateString;

      $("#datepicker-start").datepicker({
         maxDate: 0,
         dateFormat: 'yy-mm-dd',
         onSelect: function(dateText, inst) {
            fromDateObject = $(this).datepicker('getDate'); //the getDate method
            $("#datepicker-end").val("");
            $("#datepicker-end").prop("disabled", false);
            
            $("#datepicker-end").datepicker("destroy");
            $("#datepicker-end").datepicker({
               minDate: fromDateObject,
               maxDate: new Date(),
               dateFormat: 'yy-mm-dd',
               onSelect: function(dateText, inst) {
                  toDateObject = $(this).datepicker('getDate'); //the getDate method
                  window.location.href = getUrlMask();
               }
            });
         }
      });

      $("#select-sort").change(function() {
         window.location.href = getUrlMask();
      });

      $('#search').keypress(
         function(e){
         if (e.which == 13) {
            window.location.href = getUrlMask();
         }
      });

      $("#btnPrintPDF").click(function() {
         window.location.href = getUrlPrintMask();
      });

      
      function getUrlForPrintFilter1() {
         fromDateText = $('#datepicker-start').val();
         toDateText = $('#datepicker-end').val();
         console.log(fromDateText);

         if (toDateText == '') {
            const date = new Date();
            var y = date.getFullYear();
            var m = ("0"+(date.getMonth()+1)).slice(-2);
            var d = ("0"+date.getDate()).slice(-2);

            toDateText = y + "-" + m + "-" + d;
         }

         var sort = $("#select-sort").val();

         var url_mask = "{% url 'users-management:printFilter1' 222222 'date1' 'date2' %}"
         .replace(/222222/, sort)
         .replace(/date1/, fromDateText)
         .replace(/date2/, toDateText);

         return url_mask;
      }
      
      function getUrlForPrintFilter2() {
         console.log("hello! " + url_mask);
         fromDateText = $('#datepicker-start').val();
         toDateText = $('#datepicker-end').val();
         console.log(fromDateText);

         if (toDateText == '') {
            const date = new Date();
            var y = date.getFullYear();
            var m = ("0"+(date.getMonth()+1)).slice(-2);
            var d = ("0"+date.getDate()).slice(-2);

            toDateText = y + "-" + m + "-" + d;
         }
         var sort = $("#select-sort").val();
         var query = $("#search").val();

         var url_mask = "{% url 'users-management:printFilter2' 222222 'date1' 'date2' 'query' %}"
                        .replace(/222222/, sort)
                        .replace(/query/, query)
                        .replace(/date1/, fromDateText)
                        .replace(/date2/, toDateText);

         return url_mask;
      }

      function getUrlPrintMask() {
         var url_mask;

         if ($("#search").val() == '') {
            url_mask = getUrlForPrintFilter1();
         } else {
            url_mask = getUrlForPrintFilter2();
         }

         return url_mask;
      }


      function getUrlForFilter1() {
         fromDateText = $('#datepicker-start').val();
         toDateText = $('#datepicker-end').val();
         console.log(fromDateText);

         if (toDateText == '') {
            const date = new Date();
            var y = date.getFullYear();
            var m = ("0"+(date.getMonth()+1)).slice(-2);
            var d = ("0"+date.getDate()).slice(-2);

            toDateText = y + "-" + m + "-" + d;
         }

         var sort = $("#select-sort").val();

         var url_mask = "{% url 'users-management:filter1' 222222 'date1' 'date2' %}"
         .replace(/222222/, sort)
         .replace(/date1/, fromDateText)
         .replace(/date2/, toDateText);

         return url_mask;
      }
      
      function getUrlForFilter2() {
      console.log("hello! " + url_mask);
         fromDateText = $('#datepicker-start').val();
         toDateText = $('#datepicker-end').val();
         console.log(fromDateText);

         if (toDateText == '') {
            const date = new Date();
            var y = date.getFullYear();
            var m = ("0"+(date.getMonth()+1)).slice(-2);
            var d = ("0"+date.getDate()).slice(-2);

            toDateText = y + "-" + m + "-" + d;
         }

         var sort = $("#select-sort").val();
         var query = $("#search").val();

         var url_mask = "{% url 'users-management:filter2' 222222 'date1' 'date2' 'query' %}"
                        .replace(/222222/, sort)
                        .replace(/query/, query)
                        .replace(/date1/, fromDateText)
                        .replace(/date2/, toDateText);

         return url_mask;
      }

      function getUrlMask() {
         var url_mask;

         if ($("#search").val() == '') {
            url_mask = getUrlForFilter1();
         } else {
            url_mask = getUrlForFilter2();
         }

         return url_mask;
      }

      function archiveThisAccount(PK){
         document.getElementById('RenamethisTArchiveTheSpecificUser').value = PK;
         Swal.fire({
            icon: 'warning',
            showCancelButton: true,
            title: "Are you sure you want to archive this account?.",
            confirmButtonText: 'Yes',
            cancelButtonText: 'Cancel',
         }).then((result) => {
            if(result.isConfirmed){
               Swal.fire({
                  icon: 'success',
                  title: "User has been moved to the archive",
                  allowOutsideClick: false,
                  confirmButtonText: 'Great',
               }).then((result) => {
                  document.getElementById('archiveThisAccountHiddenForm').submit();
               })
            }
         })
      }

      function EditThisUserAccount(PK){
         document.getElementById('RenamethisToEditheSpecificUser').value = PK;
         document.getElementById('EditUserAccountFromHereThis').submit();
      }

      function ViewTThisUserAccount(PK){
         document.getElementById('RenamethisToViewTheSpecificUser').value = PK;
         document.getElementById('ViewAccountHinddenForm').submit();
      }

   </script>

</div>
</section>
{% endblock %}