{% extends 'profile/base.html' %}

{% block content %}
{% load static %}


{% for detail in users %}
   <h1 class="h1">Viewing an Account</h1>
   <section class="my-profile">
      <div class="my-profile--container">
            <div class="my-profile--image">
               {% if detail.image %}
               <input type='text' value="{{ detail.image.url }}" style='display:none' id='holderOfImageFromDB'>
               {% else %}
               <input type='text' value="" style='display:none' id='holderOfImageFromDB'>
               {% endif %}
               <img src="" alt="profile-image-large" id='ChangeThisToProfilePicture'>
               <h4 class="h4">{{ detail.username }}</h4>
               <p>username</p>
            </div>
            <div class="my-profile--info">
               <div class="my-profile--info-container">
                     <div class="text">
                        <h4 class="h4">Personal Information</h4>
                        <table>
                           <tbody>
                              <tr>
                                    <td class="fw-700 title">Name</td>
                                    <td class="fw-400">{{ detail.first_name }} {{ detail.last_name }}</td>
                              </tr>
                              <tr>
                                    <td class="fw-700 title">Gender</td>
                                    <td class="fw-400" id='renaethisforgender'></td>
                              </tr>
                              <tr>
                                    <td class="fw-700 title">Birthdate</td>
                                    <td class="fw-400"> {{ detail.birthdate }}</td>
                              </tr>
                              <tr>
                                    <td class="fw-700 title">Address</td>
                                    <td class="fw-400"> {{ detail.address }}</td>
                              </tr>
                           </tbody>
                        </table>

                        <h4 class="h4">Contact Information</h4>
                        <table>
                        <tbody>
                           <tr>
                                 <td class="fw-700 title">Email</td>
                                 <td class="fw-400"> {{ detail.email }}</td>
                           </tr>
                        </tbody>
                        </table>

                        <h4 class="h4">Account Details</h4>
                        <table>
                        <tbody>
                           <tr>
                                 <td class="fw-700 title">Joined since</td>
                                 <td class="fw-400"> {{ detail.created_at }}</td>
                           </tr>
                           <tr>
                                 <td class="fw-700 title">Last updated</td>
                                 <td class="fw-400"> {{ detail.updated_at }}</td>
                           </tr>
                        </tbody>
                        </table>
                        <input type="text" name='asd' id='hiddeGender' value='{{ detail.gender }}' style='display:none'>

       <form action='{% url "EditAccount" %}' id='EditUserAccountFromHereThis', method="POST">
               {% csrf_token %}
               <input type='text' value='{{detail.pk}}' style='display:none' name='PK'>
            </form>
            <form action='{% url "ArchieveUserAccount" %}' id='archiveThisAccountHiddenForm', method="POST">
                  {% csrf_token %}
                  <input type='text' value='{{detail.pk}}' style='display:none' name='ID'>
               </form>
               <form action='{% url "RestoreUserAccount" %}' id='restoreThisAccountHiddenForm', method="POST">
                  {% csrf_token %}
                  <input type='text' value='{{detail.pk}}' style='display:none' name='ID'>
               </form>
                     </div>
                     <div>
                        <a class="btn-black" onclick='EditThisUserAccount()' id='btnEditProfile'>Edit Profile</a>
                     </div>
               </div>
               <div class="cta-holder">
                  <a href="javascript:history.back()" class="btn-black">Cancel</a>
                  <input type='text' value='{{detail.is_active}}' style='display:none' id='IDChecker'>
                     <a class="btn-black" onclick='archiveThisAccount()' id='DeleteAccountRenameIfArchived'></a>
               </div>
            </div>
      </div>
  
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>
         if(document.getElementById('IDChecker').value == 'True'){
            document.getElementById('DeleteAccountRenameIfArchived').textContent= 'Archive Account';
         }else{
            document.getElementById('DeleteAccountRenameIfArchived').textContent= 'Restore Account';
            document.getElementById('btnEditProfile').style.display= 'none';
         }

         function archiveThisAccount(){
            if(document.getElementById('IDChecker').value == 'True'){
               Swal.fire({
                  icon: 'warning',
                  showCancelButton: true,
                  title: "Are you sure you want to archive this account?",
                  confirmButtonText: 'Yes',
                  cancelButtonText: 'Cancel',
               }).then((result) => {
                  if(result.isConfirmed){
                     document.getElementById('archiveThisAccountHiddenForm').submit();
                  }
               })
            }else{
               Swal.fire({
                  icon: 'warning',
                  showCancelButton: true,
                  title: "Are you sure you want to restore this account?",
                  confirmButtonText: 'Yes',
                  cancelButtonText: 'Cancel',
               }).then((result) => {
                  if(result.isConfirmed){
                     document.getElementById('restoreThisAccountHiddenForm').submit();
                  }
               })
            }
         }
   
         function EditThisUserAccount(){
            document.getElementById('EditUserAccountFromHereThis').submit();
         }

         document.getElementById('ChangeThisToProfilePicture').style.width = '250px';
   document.getElementById('ChangeThisToProfilePicture').style.height = '250px';
   document.getElementById('ChangeThisToProfilePicture').style.objectFit = 'cover';
   document.getElementById('ChangeThisToProfilePicture').style.borderRadius = '50%';
   if(document.getElementById('holderOfImageFromDB').value == ''){
      document.getElementById('ChangeThisToProfilePicture').src = "{% static 'src/images/profile-image-large.png' %}";
   }else{
      document.getElementById('ChangeThisToProfilePicture').src = document.getElementById('holderOfImageFromDB').value;
   }
   


   //for gender (edit)
   if(document.getElementById('hiddeGender').value == 1){
      document.getElementById('renaethisforgender').textContent = 'Woman';
   }
   else if (document.getElementById('hiddeGender').value == 2){
      document.getElementById('renaethisforgender').textContent = 'Man';
   }
   else{
      document.getElementById('renaethisforgender').textContent = 'Others';
   }

      </script>

   </section>

   
  
 {% endfor %}

{% endblock %}