{% extends 'accounts/base.html' %}

{% block content %}
<body>
    <section class="login">
        <div class="login-container">
           <div class="login-col">
              <div class="login-holder">
                 <div class="login-text">
                    <h2 class="h2">Welcome to</h2>
                    <h1 class="h1">Soar Academy</h1>
                    <h3 class="h3">English HS Department’s <span>common drive</span></h3>
                 </div>
                 <div class="form-container">
                    <h4 class="h4">Login to your account.</h4>
                    <p>Don’t have an account, yet? <span><a class="reg" href="{% url 'registerView' %}"
                             onclick="Register()">Register.</a></span></p>
                    <form action="{% url 'login' %}" method="POST">
                       {% csrf_token %}
                       <input type="text" name="usernameEmail" id="usernameEmail" placeholder="Enter username or email" value="{{usernameEmail}}">
                       <input type="password" name="password" id="password" placeholder="Enter password">
                       <div class="btn-login-holder">
                          <button id="loginBtn" class="btn-login" type="submit">Login</button>
                       </div>
                    </form>
                 </div>
              </div>
           </div> 
        </div>
     </section>

   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script>

   {% if error == 1%}
      Swal.fire({
         icon: 'error',
         title: 'Your credentials are not valid.'
      });
      window.history.pushState('somedata', 'Title', '/login/');
   {% elif error == 2%}
      Swal.fire({
         icon: 'warning',
         title: 'Your account is deactivated.',
         text: ' To activate again please contact your administrator.'
      });
      window.history.pushState('somedata', 'Title', '/login/');
   {% endif %}

   $("form").submit(function(e) {
      var usernameEmail = $("#usernameEmail").val();
      var password = $("#password").val();

      if (usernameEmail.trim() == '' || password.trim() == '') {
         Swal.fire({
            icon: 'error',
            title: 'Please enter all fields.'
         });

         return false;
      }

      return true;
   })

   function validateEmail($email) {
      var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
      return emailReg.test( $email );
}
   </script>


{% endblock %}
</body>